body{
    margin: 0;
    padding: 0;
    background: url(image/login/login.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    
}
ul {
    position: fixed; /* Fix the navigation at the bottom */
    bottom: 0;       /* Align it to the bottom of the screen */
    left: 0;
    width: 100%;     /* Stretch across the width of the screen */
    display: flex;   /* Use flexbox for alignment */
    justify-content: space-evenly; /* Distribute links evenly */
    background-color: rgba(0, 0, 0, 1); /* Semi-transparent background */
    padding: 10px 0; /* Add spacing around the links */
    margin: 0;
    list-style: none;
  }
  
  ul li {
    display: flex;
    align-items: center;
    flex-direction: column; /* Stack icons and text vertically */
  }
  
  ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 25px; /* Adjust text size */
    transition: 0.3s ease-in-out;
  }
  
  ul li a:hover {
    color: #ec0c0c; /* Add a hover effect for text */
  }
  
  ul li i {
    font-size: 65px; /* Icon size */
    margin-bottom: 5px; /* Space between icon and text */
    transition: transform 0.3s ease; /* Smooth hover animation */
  }
  
  ul li:hover i {
    transform: scale(1.1); /* Enlarge icon on hover */
    color: #ec0c0c; /* Add hover effect for icon */
    }
  
.main{
	max-width: 1500px;
	margin: auto;
}
.loginbox{
    width: 520px;
    height: 480px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 3rem;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    border: #000 solid;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 35px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: xx-large;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 25px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #ff1212;
    color: #fff;
    font-size: 25px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background:#ffc107;
    color: #000;
}
.loginbox a{
    display: flex;
    text-decoration: none;
    font-size: 25px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover
{
    color: #ffc107;
}
